In [21]:
import pandas as pd
data = pd.read_csv('raw_file/all_seasons.csv')

### Table structure for player stats

In [31]:
playerStats = pd.DataFrame(data,columns=['player_name','team_abbreviation','pts','reb','ast','net_rating','season'])
playerStats.rename(columns={"pts":"points","reb":"rebounds","ast":"assists"}).head(3)

,player_name,team_abbreviation,points,rebounds,assists,net_rating,season
0,Dennis Rodman,CHI,5.7,16.1,3.1,16.1,1996-97
1,Dwayne Schintzius,LAC,2.3,1.5,0.3,12.3,1996-97
2,Earl Cureton,TOR,0.8,1.0,0.4,-2.1,1996-97

### Writes the player stats to a csv file

In [34]:
playerStats = pd.DataFrame(data,columns=['player_name','team_abbreviation','pts','reb','ast','net_rating','season']).to_csv('player')

### Table structure for player details

In [33]:
playerStats = pd.DataFrame(data,columns=['player_name','age','college','draft_year','draft_round','draft_number','player_height','team_abbreviation'])
playerStats.rename(columns={"pts":"points","reb":"rebounds","ast":"assists"}).head(3)

,player_name,age,college,draft_year,draft_round,draft_number,player_height,team_abbreviation
0,Dennis Rodman,36.0,Southeastern Oklahoma State,1986,2,27,198.12,CHI
1,Dwayne Schintzius,28.0,Florida,1990,1,24,215.90,LAC
2,Earl Cureton,39.0,Detroit Mercy,1979,3,58,205.74,TOR

### Writes the players to a csv file

In [27]:
players = pd.DataFrame(data,columns=['age','college','draft_year','draft_round','draft_number','player_name','player_height','team_abbreviation'])
players.to_csv('players.csv')